@import url("reset.css");

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	color: white;
	background-color: #3f3f3f;
	text-align: center;
	font-family: "Lucida Console", "monospace";
}

h1 {
	display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

a {
	color:#999999;
}

p {
	width: 800px;
	max-width: 90%;
	margin: 0.5em auto;
	text-align: left;
	text-indent: 1em;
}

h1 {
	font-size: 1.5em;
	margin: 0.5em;
}

.header {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.headerimg {
	width: 75%;
}

#nav {
	margin: 1em;
	font-size: 1.5em;
	display: inline-block;
	margin: 0 auto;
}

.navitem {
    display: inline-block;
    margin: 0 0.25em;
    padding: 0 0.25em;
    text-align: center;
    height: 1em;
    overflow: hidden;
    position: relative;
    transition: height 0.5s, border-radius 0.5s, color 0.5s, background-color 0.5s;
    -webkit-transition: height 0.5s, border-radius 0.5s, color 0.5s, background-color 0.5s;
}

/* Add bullets between navbar items */
.navitem:first-child ~ .navitem:before {
	content: "\2022";
	margin-right: 0.5em;
}

.navitem a{
	text-decoration: none;
	color: inherit;
}

.navitem:hover {
	height:auto;
	background-color: white;
	border-radius: 5px;
	color: black;
}

.content {
	padding: 1em;
}
#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  color: inherit;
  margin: .25em;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}

#cssmenu ul {
  list-style: none;
}
#cssmenu > ul > li {
  float: left;
  border-radius: 5px;
  padding: .25em;
}

#cssmenu > ul > li:hover {
	color:black;
	background-color: white;
}
.sub {
	display: none;
}
#cssmenu > ul > li.has-sub:hover .sub {
	display: block;
	position: fixed;
	z-index: 1000;
	text-align: left;
	background-color: white;
	color: black;
	border-radius: 0px 5px 5px 5px;
	margin: 0;
	margin-left: -6px;
	width: auto;
	padding:0;
}
.sub > li:hover {
	background-color: #BBBBBB;
}