@import url("reset.css");

body{
	width:100%;
	background-color: #3f3f3f;
	font-family: "Lucida Console";
	color: white;
	text-align: center;
}
a {
	color:#999999;
}
p {
	width: 800px;
	max-width: 90%;
	margin: 0 auto;
}
.headerimg {
	width: 75%;
}
.header {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
#nav div:first-child ~ div:before { content: "\2022\A0"; } /*bullets*/
#nav a{
	text-decoration: none;
	color: inherit;
}
.back {
	color:#FF0012;
}
.drive {
	color:#0066FF;
}
.navitem {
    display: inline-block;
    margin: 0 .5em;
    text-align: center;
}
