<html>
	<head>
		<title>{{ page.title }} - BACKDRIVE VRC Team</title>
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/site.css">
		<link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
	</head>
	<body>
		<div class="header">
			<img class="headerimg" src="{{ site.url }}/img/logo_horizontal_backdrive.png" alt="Backdrive VRC Team Logo">
			<div id="nav">
				<div id="cssmenu">
					<ul>
						<li><a href="{{ site.url }}/index.html"><span>Home</span></a></li>
						<li class="has-sub"><a href="{{ site.url }}/about.html"><span>About</span></a>
							<ul class="sub">
								<li><a href="{{ site.url }}/about.html#members"><span>Members</span></a></li>
								<li class="last"><a href="{{ site.url }}/about.html#hist"><span>History</span></a></li>
							</ul>
						<li class="has-sub"><a href="{{ site.url }}/robots/index.html"><span>Robots</span></a>
							<ul class="sub">
								<li class="last"><a href="{{ site.url }}/robots/skyrise.html"><span>Skyrise</span></a></li>
							</ul>
						<li><a href="{{ site.url }}/blog.html"><span>Blog</span></a></li>
						<li class="has-sub"><a href="{{ site.url }}/results/index.html"><span>Tournament Results</span></a>
							<ul class="sub">
								<li class="last"><a href="{{ site.url }}/results/skyrise.html"><span>Skyrise</span></a></li>
							</ul>
						<li><a href="{{ site.url }}/contact.html"><span>Contact</span></a>	
					</ul>
				</div>
			</div>
		</div>
		<div class="content">
			<h1>{{ page.title }}</h1>
			{{ content }}
		</div>
	</body>
</html>
