<html>
	<head>
		<title>{{ page.title }} - BACKDRIVE VRC Team</title>
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/site.css">
		<link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
	</head>
	<body>
		<div class="header">
			<img class="headerimg" src="{{ site.url }}/img/logo_horizontal_backdrive.png" alt="Backdrive VRC Team Logo">
			<div id="nav">
				<div class="navitem"><a href="{{ site.url }}/index.html">Home</a><br/><br/>Hidden!			
				</div><div class="navitem"><a href="{{ site.url }}/about.html">About</a> 	
				</div><div class="navitem"><a href="{{ site.url }}/robots.html">Robots</a>	
				</div><div class="navitem"><a href="{{ site.url }}/blog.html">Blog</a>		
				</div><div class="navitem"><a href="{{ site.url }}/results.html">Tournament Results</a>
				</div><div class="navitem"><a href="{{ site.url }}/contact.html">Contact</a>
				</div>
			</div>
		</div>
		<div class="content">
			<h1>{{ page.title }}</h1>
			{{ content }}
		</div>
	</body>
</html>
